/* --for mobile-- */
@media screen and (max-width: 600px) {
    .nav ul{
        display: none;
    }
    label{
        display: block;
    }
    .banner-content >h2{
        font-size: 1rem;
    }
    .banner-input,
    .popular-tours,
    .newsletter,
    .offer-container,
    .choose-us-content{
        flex-direction: column;
    }
    .offer-container{
        flex-direction: column-reverse;
    }
    .popular-tour-content{
        width: 100%;
    }
    .destination-imgs{
        grid-template-areas: "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7";
    }
    .destination-imgs img{
        height: 100%;
    }
    .newsletter-input{
        width: 100%;
      }
      .img-content{
        bottom: 20%;
        padding: 0.8rem 1rem;
        font-size: small;
      }
     .content1,.content2,.content3{
        width: 100%;
     }
     .footer i{
        padding: 1rem;
      }
}






/* --for tablet-- */
@media screen and (min-width: 601px) and (max-width: 920px) {
    .nav ul{
        display: none;
    }
    label{
        display: block;
    }
    .banner-content >h2{
        font-size: 1rem;
    }
    .banner-input,
    .popular-tours,
    .newsletter,
    .choose-us-content{
        flex-direction: column;
    }
    .offer-container{
        flex-direction: column-reverse;
    }
    .popular-tour-content{
        width: 100%;
    }
    .destination-imgs{
        grid-template-areas: "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7";
    }
    .destination-imgs img{
        height: 100%;
    }
    .newsletter-input{
        width: 100%;
      }
      .img-content{
        bottom: 20%;
      }
      .choose-us-content{
        flex-direction: column;
      }
      .content1,.content2,.content3{
        width: 100%;
     }
    .footer i{
        padding: 1rem;
      }
}
