/* --for mobile-- */
@media screen and (max-width: 600px) {
    .banner-input,
    .popular-tours{
        flex-direction: column;
    }
    .popular-tour-content{
        width: 100%;
    }
    .destination-imgs{
        grid-template-areas: "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7";
    }
    .destination-imgs img{
        height: 100%;
    }
    .footer i{
        padding: 1rem;
      }
}






/* --for tablet-- */
@media screen and (min-width: 601px) and (max-width: 920px) {
    .banner-input,
    .popular-tours{
        flex-direction: column;
    }
    .popular-tour-content{
        width: 100%;
    }
    .destination-imgs{
        grid-template-areas: "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7";
    }
    .destination-imgs img{
        height: 100%;
    }
}
