@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");
/* --common style-- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
header,
main {
  width: 81%;
  margin: 0 auto;
}
.section-title {
  color: #131318;
  font-size: 1.8rem;
  font-weight: 800;
}
.btn-primary {
  color: white;
  background-color: #ff5400;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}
/* --header style-- */

/* -- banner section-- */
.banner {
  margin-top: 6.5rem;
  background-image: linear-gradient(
      to bottom,
      rgba(27, 27, 27, 0.856),
      rgba(255, 255, 255, 0)
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  height: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner-content {
  text-align: center;
}
.banner .banner-content h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}
.banner .banner-content p {
  color: rgba(255, 255, 255, 0.753);
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 26px;
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 2.3rem;
}
.banner-input {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.37);
  max-width: 85%;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem;
}
.banner-input input,
select {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: rgba(19, 19, 24, 0.5);
}
/* --popular tours-- */
.popular-tours {
  display: flex;
  margin: 6rem 0;
  gap: 3.5rem;
}
.popular-tour-content{
    width: 60%;
}
.popular-tour-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.9rem;
    margin: 1.2rem 0;
}
.popular-tour-content ul li{
    margin-left: 1.4rem;
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.9rem;
}
.popular-tour-img img {
  width: 100%;
}
/* --Destination sectoion-- */
.destination-content{
    text-align: center;
}
.destination-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.9rem;
    margin: 1.8rem 0;
}
.destination-imgs img{
    width: 100%;
}
.img{
    position: relative;
    
}
.img .img-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img .img-name p{
    color: white;
    font-size: 1.3rem;
}
#img1{
    grid-area: img1;
}
#img2{
    grid-area: img2;
}
#img3{
    grid-area: img3;
}
#img4{
    grid-area: img4;
}
#img5{
    grid-area: img5;
}
#img6{
    grid-area: img6;
}
#img7{
    grid-area: img7;
}
.destination-imgs{
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "img1 img1 img1 img1 img1 img1 img2 img2 img2 img2 img2 img2"
    "img3 img3 img3 img3 img4 img4 img4 img4 img4 img5 img5 img5"
    "img6 img6 img6 img6 img6 img7 img7 img7 img7 img7 img7 img7 ";
}


/* neweslatter */
.newsletter{
    display: flex;
}



/* footer */
.footer{
    text-align: center;
}