@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");
/* --common style-- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
header,
main {
  width: 81%;
  margin: 0 auto;
}
.section-title {
  color: #131318;
  font-size: 1.8rem;
  font-weight: 800;
}
.btn-primary {
  color: white;
  background-color: #ff5400;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}
/* --header style-- */
/* --nav section-- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.fa-bars{
  font-size: 2rem;
  width: 2rem;
  margin-right: auto;
}
.nav .logo h2 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
input[type="checkbox"]{
  appearance: none;
}
label{
  display: none;
}
.nav .logo h2 span{
  color: #ff5400;
}
.nav ul {
  display: flex;
  gap: 1.2rem;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 0.9rem;
  font-weight: 700;
}
#first-child{
  color: #ff5400;
}
.nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -- banner section-- */
.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(27, 27, 27, 0.856),
      rgba(255, 255, 255, 0)
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  height: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner-content {
  text-align: center;
}
.banner .banner-content h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}
.banner .banner-content p {
  color: rgba(255, 255, 255, 0.753);
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 26px;
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 2.3rem;
}
.banner-input {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.37);
  max-width: 85%;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem;
}
.banner-input input,
select {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: rgba(19, 19, 24, 0.5);
}
/* --popular tours-- */
.popular-tours {
  display: flex;
  margin: 6rem 0;
  gap: 3.5rem;
}
.popular-tour-content {
  width: 60%;
}
.popular-tour-content p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 0.9rem;
  margin: 1.2rem 0;
}
.popular-tour-content ul li {
  margin-left: 1.4rem;
  color: rgba(19, 19, 24, 0.7);
  font-size: 0.9rem;
}
.popular-tour-img img {
  width: 100%;
}
/* --Destination sectoion-- */
.destination-content {
  text-align: center;
}
.destination-content p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 0.9rem;
  margin: 1.8rem 0;
}
.destination-imgs img {
  width: 100%;
}
.img {
  position: relative;
}
.img .img-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img .img-name p {
  color: white;
  font-size: 1.3rem;
}
#img1 {
  grid-area: img1;
}
#img2 {
  grid-area: img2;
}
#img3 {
  grid-area: img3;
}
#img4 {
  grid-area: img4;
}
#img5 {
  grid-area: img5;
}
#img6 {
  grid-area: img6;
}
#img7 {
  grid-area: img7;
}
.destination-imgs {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "img1 img1 img1 img1 img1 img1 img2 img2 img2 img2 img2 img2"
    "img3 img3 img3 img3 img4 img4 img4 img4 img4 img5 img5 img5"
    "img6 img6 img6 img6 img6 img7 img7 img7 img7 img7 img7 img7 ";
}
/* --offer section-- */
.offer-section{
  margin: 6rem 0;
}
.offer-section> h2{
  color: #ff5400;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
}
.offer-section h2 span{
  color: rgba(247, 7, 7, 0.932);
  font-size: 4rem;
}
.offer-section> p{
  color: #5a5a5d;
  font-size: 0.9rem;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 1rem;
}
.offer-container{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.single-offer{
  background-color: rgba(174, 78, 219, 0.404);
  border: 1px solid rgba(174, 78, 219, 0.411);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.2rem;
}
.single-offer h2{
  font-weight: 600;
  font-size: 1.5rem;
}
.single-offer p{
  color: #5a5a5d;
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-weight: 600;
  margin: 1rem 0;
}
.family-offer{
  background-color: rgba(219, 78, 184, 0.404);
  border: 1px solid rgba(219, 78, 219, 0.411);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.2rem;
}
.family-offer h2{
  font-weight: 600;
  font-size: 1.5rem;
}
.family-offer p{
  color: #5a5a5d;
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-weight: 600;
  margin: 1rem 0;
}
.offer-img{
  width: 100%;
}
.offer-img img{
  width: 100%;
}


/* --Why choose us-- */
.choose-us {
  margin: 5rem 0;
}
.choose-us-header {
  text-align: center;
}
.choose-us-header h2 {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.choose-us-header p {
  color: #5a5a5d;
  font-size: 0.9rem;
  margin: 1rem 0;
}
.choose-us-content {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}
.content1 {
  background-color: rgba(255, 192, 203, 0.253);
  border: 1px solid rgba(255, 192, 203, 0.253);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 50%;
}
.content2 {
  background-color: rgba(192, 227, 255, 0.253);
  border: 1px solid rgba(192, 227, 255, 0.253);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 50%;
}
.content3 {
  background-color: rgba(220, 143, 255, 0.479);
  border: 1px solid rgba(220, 143, 255, 0.479);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 50%;
  margin: 1rem auto 0;
}
.content1 h3,
.content2 h3,
.content3 h3 {
  color: #131318;
  font-size: 1.8;
  font-weight: 800;
  margin: 1rem 0;
}
.content1 p,
.content2 p,
.content3 p {
  color: #5a5a5d;
  font-size: 0.9rem;
}
.content-img {
  width: 12%;
}
.content-img img {
  width: 100%;
}
/* neweslatter */
.newsletter {
  display: flex;
  margin: 5rem 0;
  gap: 4rem;
}
.newsletter-input {
  border: 1px solid #ff5400;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 50%;
}
.newsletter-input h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.newsletter-input p {
  color: #5a5a5d;
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}
.newsletter-input input {
  padding: 1.2rem;
  margin: 0.5rem 0;
  border: 0;
  width: 100%;
  border-radius: 1rem;
  color: #5a5a5d;
  background-color: #82828817;
}
.newsletter-input input[type="submit"] {
  background-color: #ff5400;
  color: white;
  width: 100%;
}
.newsletter .newsletter-img > img {
  width: 100%;
  height: 100%;
}
.newsletter-img {
  position: relative;
}
.img-content {
  padding: 1.5rem 2rem;
  background-color: #ff5400;
  width: 55%;
  color: white;
  border-radius: 8px;
  position: absolute;
  bottom: 16%;
  left: 43%;
  transform: rotate(-30deg);
}

/* footer */
.footer-container {
  width: 100%;
  background-color: #f5dbdb5d;
}
.footer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 0;
}
.footer-header h2 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.footer-header h2 > span {
  color: #ff5400;
}
.footer {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.footer p {
  font-size: 0.9rem;
  color: #5a5a5d;
  padding: 1.5rem;
}
.footer p:last-child {
  padding: 3.5rem 0;
}
.footer i {
  font-size: 2rem;
  padding: 1.5rem;
}
hr * {
  color: 1px solid #5a5a5d;
}
